<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<script>
    function validateform(){
    var name= document.myform.userId.value;
    var password=document.myform.password.value;

    if (name==null || name==""){
      alert("Name can't be blank");
      return false;
    }else if(name != password){
      alert("Password is incorrect");
      return false;
      }
    }
</script>
<body>
<div class="signin">
    <div class="back-img">
        <div class="sign-in-text">
            <h2 class="active">Sign In</h2>
            <h2 class="nonactive">Sign Up</h2>
        </div><!--/.sign-in-text-->
        <div class="layer">
        </div><!--/.layer-->
        <p class="point">&#9650;</p>
    </div><!--/.back-img-->
    <div class="form-section">

        <form  name="myform"  method = "POST"  th:attr="action = @{/getRecom}" onsubmit="return validateform()">
            <!--Email-->
            <div class="form-group">
                <label for="sample3">User ID</label>
                <input name = "userId" class="form-control" aria-describedby="emailHelp" placeholder="Enter User ID" type="text" id="sample3">

            </div>
            <br/>
            <br/>
            <!--Password-->
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name = "password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <br/>
            <div class="form-group form-button">
                <input type="submit" name="signup" id="signup" class="btn btn-primary"  value="Sign In"/>

            </div>

        </form>
    </div><!--/.form-section-->

   <!--/button-->
</div><!--/.signin-->
</body>
</html>